{{/* Header */}}

<div class="header">

    {{ if or (not (.Param "hideHeader")) .IsHome }}

    <h1 class="header-title">{{ site.Title }}</h1>

    <div class="box">
        <img src="https://64.media.tumblr.com/2a1cc7a5f8b72117efaa9348524e9c04/2e41a2135303cdd7-d2/s400x600/" width="20" height="20">
    </div>


    <div class="flex">
        {{ $currentPage := . }}

        {{ with site.Params.menu }}
        {{ range . }}
      
        <p class="small {{ if eq .name (lower $currentPage.Name) }} bold {{end}}">
            <a href="{{ .url }}" {{ if and (isset . "newTab") .newTab }}target="_blank" rel="noopener noreferrer"{{ end }}>
                /{{.name }}
            </a>
        </p>
        {{ end }}
        {{ end }}
    </div>

    {{ end }}

</div>
